bower_components/
.vagrant/
*.swp
*#*
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/clj/
resources/public/js/
.lein-env
.repl/
profiles.clj
resources/public/*.edn
*.log
*.txt
docs/
*.csv
